@import "../../global.scss";

.skills {
  height: 95vh;
  background-color: $primaryBackgroundColor;
  color: $primaryColor;
  padding: 40px;

  @include mobile {
    height: auto;
    padding: 20px;
  }

  .skillsTitle {
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    margin-top: 30px;
    margin-bottom: 80px;

    @include mobile {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }

  .wrapper {
    margin-bottom: 20px;
    .gridContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      gap: 40px;

      .frontEnd,
      .backEnd,
      .otherTech {
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }

        .skillsWrapper {
          background-color: $skillsWrapperBackgroundColor;
          border-radius: 10px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          gap: 40px;

          @include mobile {
            padding: 20px;
          }

          .skillsContainer1 {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            padding: 10px;
            overflow: hidden;
          }

          .skillsContainer2 {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            padding: 10px;
            overflow: hidden;
          }

          .skillDetails {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            &:hover {
              transform: scale(1.1);
            }

            .skillIcon {
              width: 40px;
              height: 40px;
            }

            p {
              font-weight: 300;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
