@import "../../global.scss";

.contact {
  height: calc(100vh - 70px);
  background-color: $primaryBackgroundColor;
  color: $primaryColor;
  padding: 30px;

  @include mobile {
    height: auto;
    padding: 20px;
  }

  .wrapper {
    display: flex;
    height: 100%;

    @include mobile {
      flex-direction: column;
      gap: 30px;
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid #fff;
      overflow: hidden;

      @include mobile {
        border: none;
      }

      .contactDetailsWrapper {
        .contactContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;

          @include mobile {
            margin-top: 40px;
          }

          .email {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 1.1rem;
            background-color: $contactDetailsBackgroundColor;
            padding: 15px 30px;
            border-radius: 8px;
            transition: all 0.5s ease;

            @include mobile {
              width: 270px;
              padding: 10px 20px;
            }

            &:hover {
              background-color: $primaryColor;
              color: $primaryBlack;
            }

            .contactIcon {
              font-size: 2.2rem;
            }
          }

          .socials {
            background-color: $contactDetailsBackgroundColor;
            padding: 15px 30px;
            border-radius: 8px;
            width: 300px;
            cursor: pointer;
            transition: all 0.5s ease;

            @include mobile {
              width: 270px;
              padding: 10px 20px;
            }

            &:hover {
              background-color: $primaryColor;

              .github {
                color: $primaryBlack;
              }

              p {
                color: $primaryBlack;
              }
            }

            a {
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 1.1rem;
              text-decoration: none;
              color: $primaryColor;

              .linkedIn {
                color: #0072b1;
              }

              .github {
                color: #f1f1f1;
              }

              .twitter {
                color: #00acee;
              }

              .contactIcon {
                font-size: 2.2rem;
              }
            }
          }
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @include mobile {
        margin-top: 10px;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 55px;
        min-width: 70%;

        @include mobile {
          width: 260px;
        }

        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.1rem;
          margin-bottom: 20px;

          @include mobile {
            margin-bottom: 0;
          }
        }

        .inputWrapper {
          display: flex;
          flex-direction: column;
          gap: 25px;

          input {
            font-family: inherit;
            font-size: 100%;
            height: 35px;
            outline: none;
            border: none;
            border-radius: 6px;
            padding-left: 7px;

            &:focus {
              border: none;
            }
          }

          textarea {
            font-family: inherit;
            font-size: 100%;
            height: 150px;
            outline: none;
            border: none;
            border-radius: 6px;
            padding-left: 7px;
            padding-top: 7px;
            resize: none;

            &:focus {
              border: none;
            }
          }
        }

        .sendButton {
          background-color: $primaryBackgroundColor;
          color: $primaryColor;
          border: 3px solid $primaryColor;
          border-radius: 8px;
          font-size: 1.2rem;
          padding: 12px 22px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 50px;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            background-color: $primaryColor;
            color: $primaryBackgroundColor;
          }
        }
      }
    }
  }
}
