.app {
  height: 100vh;

  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #828282;
  }

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #f1f1f1;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    // for each element in sections
    > * {
      width: 100vw;
      // height: calc(100vh - 70px);
      // scroll-snap-align: start;
    }
  }
}
