/* navbar */
$navBackgroundColor: #202020;
$navActiveBackgroundColor: #fff;
$navTextColor: #fff;

/* body */
$primaryBackgroundColor: #1b1b1b;
$primaryColor: #fff;
$primaryGray: #999;
$primaryDarkGray: #444;
$primaryBlack: #000;
$sectionBackgroundColor: #252525;
$skillsWrapperBackgroundColor: #444;
$contactDetailsBackgroundColor: #252525;

/* responsive */
$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
